version: '3.8'

services:

  web_server:
    build: ./teacher_web
    container_name: focus_tracker_server
    restart: always
    ports:
      - "5000:5000"
    networks:
      - app_network
  minio:
    image: minio/minio:latest
    container_name: minio_server
    restart: always
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: "admin"
      MINIO_ROOT_PASSWORD: "password123"
    volumes:
      - ./minio_data:/data
    networks:
      - app_network

networks:
  app_network:
    driver: bridge